.intro-para {
  padding: 2rem;
  @media screen and (max-width: 1024px) {
    padding: 4rem 2rem;
  }
  p {
    
    line-height: 3.5rem;
    font-weight: 200;
    // text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12rem;
    padding-top: 26px;
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;

    @media screen and (max-width: 1024px) {
      text-align: left;
      font-size: 1.5rem;
      display: inline;
    }
  }
}

.intro-txt2-img {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 13.5rem;
  gap: 4rem;
  padding-bottom: 6rem;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    padding: 0 2rem;
    padding-bottom: 4rem;
    gap: 3rem;
  }
  .left-part,
  .right-part {
    width: 60%;
    padding: 0rem;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    &.txt2 {
      padding: 2rem;
      padding-top: 2rem;
      padding-right: 6rem;
      @media screen and (max-width: 1024px) {
        padding-right: 0;
      }

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .title {
        // display: block;
        font-size: 3rem;
        // line-height: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
     
        // position: relative;
      }
      .txt-paras {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        

        .txt-para {
          color: #777;
          line-height: 2;
          font-size: 0.9rem;
          line-height: 1.8rem;
    
          @media screen and (max-width: 1024px) {
            line-height: 1.8;
            font-size: 0.9rem;
          }
        }
      }
    }
    &.img1 {
      img {
        width: 100%;
        height: auto;  // Ensures image scales proportionally

        // Set a max-height if needed to control the size
        max-height: 750px; 
      }
    }
  }
}
