$main-image: "../../assets/Gallery";
section.main {
  .gallery {
    .main-image {
     background: url(#{$main-image}/gallery-main-1.jpg);
      height: 65vh;
      background-size: cover;
      background-position: center;
      max-width: 100%;
      display: flex;
      align-items: center;
      padding-left: 8rem;
      font-size: 4rem;
      color: #fff;
   
      @media screen and (max-width: 500px) {
        padding: 1rem;
        font-size: 2rem;
      }
    }
   
    
    .gallery-cards {
      // gap: 1px;
      display: grid;
      border-radius: 5px; // Optional: Adds rounded corners
      overflow: hidden; 
      border: 1px solid #ddd;
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
      }
      @media screen and (min-width: 576.1px) and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}