@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");
.gallery-card {
  display: flex;
  flex-direction: column;
  .gallery-img {
    width: 100%;
  }
  .gallery-text {
    font-family: "Scheherazade New", serif;
    font-size: 1.5rem;
    background: #111;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}