.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  color: #333333;
  padding: 3rem 2rem;
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    padding: 5rem 0.5rem;
  }
}
.slider-track {
  transition: transform 0.5s ease;
}

.active {
  /* Optional: add some styles to indicate the active slide, like a border or shadow */
  border: 2px solid #fff;
}

.explore-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
  margin: 0 auto 4rem auto;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

  span {
    display: block;
    text-align: left;
    font-size: 4rem;
    
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 1px;
    display: block;
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      top: 20px;
      position: relative;
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3rem 2rem 3rem;
  }
}

.button-pair {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin: 2rem 0 2rem auto;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 14px rgba(211, 211, 211, 0.5);
    font-size: 1.8rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #137749;
      color: #ffffff;
      box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
      transform: scale(1.1);
    }

    @media screen and (max-width: 500px) {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 0.5rem;
    }
  }
}

.image-holder {
  width: 30vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;

  @media screen and (max-width: 500px) {
    width: 55vw;
    height: 50vh;
  }
  @media screen and (min-width: 500.1px) and (max-width: 750px) {
    width: 40vw;
    height: 68vh;
  }

  img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.img-description {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding: 2.5rem 1rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));

  @media screen and (max-width: 900px) {
    padding: 1.7rem 1rem;
  }

  .img-title {
    margin-bottom: 1rem;
    white-space: normal;
    color: #fff;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

    @media screen and (max-width: 700px) {
      font-size: 1.5rem;
    }
  }

  .img-location {
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
  }
}

.slider {
  overflow: hidden;
  display: flex;
  width: 100%;
  padding-bottom: 1rem;

  &::before,
  &::after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .left-button, .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .left-button {
    left: 10px;
  }
  .active {
    /* Optional: Add any special styling to the active slide, e.g., a border */
    border: 2px solid #fff;
  }
  
  .right-button {
    right: 10px;
  }
  .slider-track {
    animation: scroll 25s linear infinite;
    width: 60%;
    margin-right: 2rem;
    cursor: pointer;
    transition: transform 0.5s ease; 

    &:hover .image-holder img {
      transform: scale(1.1);
      transition: transform 1s ease;
    }
  }
  

  .slide {
    display: flex;
    flex-direction: row;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
