.experiences {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add a gap between the sections for better spacing */
  
  .experiences-title {
    line-height: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  .experiences-article {
    background-color: #f3f3f3;
    padding: 4rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 0;
    min-height: 800px; /* Ensures enough space for content */

    /* PC styles remain as is */

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr; /* Single column layout */
      grid-gap: 2rem;
      padding: 2rem;
    }

    @media (max-width: 480px) {
      display: grid;
      grid-template-columns: 1fr; /* Single column layout */
      grid-gap: 1.5rem;
      padding: 1.5rem;
      
      /* Adjusting images to fit mobile layout */
      img {
        width: 100%;
        height: auto;
      }
      
      p, h1, h2, h3, h4 {
        font-size: 0.9rem; /* Smaller text size for mobile */
        line-height: 1.4;
      }
    }
  }
}
