.experiences {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add a gap between the sections for better spacing */
  
  .experiences-title {
    line-height: 2.5rem;
    font-weight: 100;
   
    letter-spacing: 2px;

    position: relative;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;

  }

  .experiences-article {
    background-color: #f3f3f3;
    padding: 4rem 7rem;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 0;
    // border-radius: 10px;
    // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-height: 800px; /* Ensures enough space for content */

    /* Responsive styling */
    @media (max-width: 768px) {
      padding: 3rem 1rem;
      min-height: 500px;
      gap: 2rem;
    }

    @media (max-width: 480px) {
      padding: 2rem 1rem;
      min-height: 400px;
      gap: 1.5rem;
    }
  }
}
