.footer {
  background-color: #161f1e; /* Dark and elegant background */
  color: #eee; /* Light and luxurious text color */
  font-size: 0.8rem;
    line-height: 1.6rem;
    padding-right: -2rem;
    // font-family: 'Nunito', sans-serif;
  padding: 80px 30px;
  text-align: center;
  // .footer-link {
  //   color: #ffffff; /* Default link color */
  //   text-decoration: none; /* Remove underline */
  // }
  .footer-link {
    color: #ffffff; /* Default link color */
    text-decoration: none; /* Remove underline */
    font-size: 0.85rem; /* Set font size to 0.5rem */
    font-weight: 300; /* Set font weight to 300 */
  }
  .footer-link:hover {
    color: #000 /* Change color on hover */
  }

  /* Prevent color change for active links */
  .router-link-active {
    color: inherit !important; /* Inherit the default color */
  }

  /* Prevent color change for exact active links (e.g., Home) */
  .router-link-exact-active {
    color: inherit !important; /* Inherit the default color */
  }
  @media (min-width: 2000px) {
  .footer {
    padding: 100px 30px; /* Increase padding for more spacious design */
  }

  .footer-container {
    max-width: 2800px; /* Widen the container */
    gap: 80px; /* Increase gap between columns */
  }

  .footer-logo-section {
    .footer-logo {
      width: 200px; /* Larger logo for higher resolutions */
      bottom: 40px; /* Adjust position */
    }

    .footer-description {
      font-size: 0.8rem;
      line-height: 1.6rem;
      padding-right: -2rem;

      font-size: 1rem; /* Slightly larger font for readability */
      line-height: 2rem; /* Adjust line height */
      top: -80px; /* Adjust vertical alignment */
    }

    .footer-contact {
      font-size: 0.8rem;
      line-height: 1.6rem;
      padding-right: -2rem;
 
      font-size: 16px; /* Larger contact font size */
      bottom: 100px; /* Adjust vertical alignment */
    }
  }

  .footer-links-section {
    gap: 80px; /* Increase gap between link sections */
    .footer-column {
      h3 {
        font-size: 20px; /* Slightly larger heading font */
      }

      ul li {
        font-size: 16px; /* Larger font for better readability */
      }

      .social-icons a {
        font-size: 24px; /* Increase icon size */
      }
    }
  }

  .footer-bottom {
    padding-top: 30px; /* Add extra padding for spacing */
    p {
      font-size: 0.8rem;
      line-height: 1.6rem;
      padding-right: -2rem;
    
      font-size: 12px; /* Slightly larger text for footer bottom */
    }
    .language-switcher .language-button {
      font-size: 16px; /* Larger font for language switcher */
    }
  }

  .newsletter-input {
    input,
    button {
      font-size: 16px; /* Increase font size */
    }
  }
}

  .footer-container {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding-right: -2rem;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1480px;
    gap: 40px;
    margin: auto;
  }
  @media (min-width: 2000px) {
    .footer-container {
      max-width: 1850px; /* Expand container width for very large screens */
      gap: 50px; /* Increase spacing for a more balanced layout */
      justify-content: space-evenly; /* Adjust content alignment for larger screens */
    }
  }

  .footer-contact-text {
    font-size: 0.85rem; /* Adjust this size as needed */
  }
  
  .footer-column p, .footer-column li {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding-right: -2rem;
   
  }
  .footer-contact-text {
  
  
    font-size: 14px; /* Adjust the size here */
  }
  
  .footer-contact-text a {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding-right: -2rem;
  
  }
  .footer-logo-section {
    flex: 1;
    position: relative;
    // left: -3rem;
    min-width: 300px;
    margin-bottom: 30px;
    text-align: left;

    .footer-logo {
      left: -2.5rem;
      width: 160px;
      margin-bottom: 10px;
      position: relative;
      bottom: 30px;
    }
    

    .footer-description {
      color: #ccc;
      margin-bottom: 16px;
      position: relative;
      top: -70px;
      line-height: 1.5;
      font-size: 0.9rem;
      line-height: 1.8rem;
      
    }

    .footer-contact {
      font-size: 0.8rem;
      line-height: 1.6rem;
      padding-right: -2rem;
    
      // font-size: 14px;
      position: relative;
      bottom: 80px;
      color: #aaa;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }

  .footer-links-section {
    display: flex;
    flex: 2;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .footer-column {
      flex: 1;
      min-width: 200px;
      text-align: left;
      margin-bottom: 20px;

      h3 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 15px;
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 60px;
          height: 3px;
          background-color: #ffffff; /* Luxurious gold accent */
          margin-top: 5px;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 15px;
          color: #bbb;
          margin-bottom: 10px;
          transition: color 0.3s;

          &:hover {
            color: #c5a880; /* Gold color on hover */
          }
        }
      }

      .social-icons {
        display: flex;
        gap: 15px;
        margin-top: 20px;

        a {
          color: #eee;
          font-size: 20px;
          transition: color 0.3s;

          &:hover {
            color: #c5a880; /* Gold color on hover */
          }
        }
      }

      .award-logo {
        margin-top: 5px;

        img {
          padding-left: -40px;
          width: 110px;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .language-switcher {
      .language-button {
        background: none;
        border: none;
        color: #fff;
        // font-size: 14px;
        display: flex;
        align-items: center;

        img {
          width: 34px;
          margin-right: 6px;
        }

        &:hover {
          color: #c5a880; /* Gold color on hover */
        }
      }
    }

    p {
      font-size: 10px;
      color: #bbb;
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    .footer {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .footer-container {
      display: block; /* Make the container block-level for full-width */
      width: 100%;  /* Ensure it takes full width */
      padding: 0;
      margin: 0;
    }
  
    .footer-logo-section,
    .footer-description,
    .footer-contact p,
    .footer-column,
    .footer-bottom,
    .newsletter-section {
      width: 100%; /* Ensure all sections inside footer take full width */
      text-align: left; /* Align content to the left */
      margin: 0; /* Remove margin */
      padding: 0; /* Remove padding */
    }
  
    .footer-links-section {
      display: block; /* Make it block-level to force sections to stack */
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .footer-column {
      text-align: left;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
  
    .footer-bottom {
      text-align: left;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .newsletter-input {
      display: flex;
      flex-direction: column;
      width: 100%; /* Ensure full width */
    }
  
    .newsletter-input input,
    .newsletter-input button {
      width: 100%; /* Ensure both input and button are 100% width */
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .footer-container,
    .footer-logo-section,
    .footer-description,
    .footer-contact p
    .footer-column,
    .footer-bottom,
    .newsletter-section {
      width: 100%; /* Ensure full width for all sections */
      text-align: left; /* Left align all content */
      margin: 0;
      padding: 0;
    }
  
    .footer-links-section {
      display: block; /* Force section stacking */
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .footer-column {
      text-align: left;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
  
    .footer-bottom {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .newsletter-input {
      width: 100%; /* Ensure full width */
    }
  
    .newsletter-input input,
    .newsletter-input button {
      width: 100%; /* Ensure they are full width */
    }
  }
  
}  